*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;

}


.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px; 
  background-color: rgb(57, 232, 34);
}

/* Style the logo area */
.logo-area img{
  width: 50px;
}

.logo-area h1 {
  font-style: s;
  float: right;
  color: rgb(52, 0, 125);
  padding-left: 3px;
}


.menu-area ul {
  list-style: none;
  padding: 0;
  display: flex;
  padding-right: 50px;
}

.menu-area li {
  margin-right: 15px; 
  cursor: pointer;
  transition: color 0.3s; 
  padding-right: 20px;
  font-size: 20px;
}

.menu-area li:hover {
  color: #FFFF; 
}

/* content area start from here */

.container-area .content-area h1 {
  font-size: 50px;
  
}

#chomolokko {
  color: rgb(181, 255, 21);
}

/* .content-area h1{
  display: inline-block;
  transform: translateX(-100%);
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
} */

.container-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  /* background-color: rgb(237, 243, 236); */
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: 52% 100%; 
}

.content-area {
  width: 45%;
  padding-left: 5%;
  text-align: justify;
}
.content-image {
  padding-right: 6%;
}
.content-image img {
  width: 600px;

}

.content-area p {
  color: #2b2121;
}

.content-area h3 {
  font-size: 23px;
}

#kallu {
  padding: 15px 0px 10px 0px;
}

.button {
  padding-top: 20px;
}

#btn {
  width: 95px;
  height: 38px;
  font-size: 18px;
  background-color: orange;
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: 1px 5px 6px 1px rgb(113, 106, 93);
  color: #ffff;
 
}

/* second content area start from here */
.second-container {
  width: 100%;
  margin-top: 70px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat; 
  background-position: right 300px;
  height: 700px;
}
.second-content {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-right: 5%;
}


.second-content img {
  width: 600px;
  filter: hue-rotate(30deg);
  
}

.second-cont {
  width: 38%;
  float: right;
  margin-right: 6%;
  padding-left: 6%;
  text-align: justify;
  padding: 50px 0px;
}

.second-cont h1 {
font-size: 50px;
padding-bottom: 15px;
}

.second-cont h3 {
  font-size: 23px;
  padding-bottom: 15px;
}

.content-area p {
  color: #2b2121;

}

#big {
  color: orange;
}

.second-cont p {
  padding-bottom: 25px;
}

.second-cont a {
  text-decoration: none;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 7px;
  color: whitesmoke;
  box-shadow: 1px 5px 6px 1px rgb(113, 106, 93);
  font-size: 18px;
}

/* ---------------------exp-------------------------------- */
.exp-area>h1 {
  text-align: center;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  color: rgb(99, 133, 7);
}
#month{
  text-align: justify;
  box-shadow: 10px 10px 40px gray;
  padding: 40px 30px;
  border-radius: 10px;
  height: 300px;
  background-color: #fff;
 
}

.exp-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  height: 500px;
  background-position: left 140px;
}

.li-bt {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}

.li-gt {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

/* .kala p{
  display: inline-block;
  background-color: green;

} */

/* -----------------animation--------------- */
.left-slide {
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 2s, opacity 1s;

}
.right-slide {
  opacity: 0;
  transform: translateX(50%);
  transition: transform 2s, opacity 3s;
}



.left-slide {
  animation: slideInFromLeft 2s forwards;
}

.right-slide {
  animation: slideInFromRight 2s forwards;
}

@keyframes slideInFromLeft {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInFromRight {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* -----------------footer-area------------- */


.footer-area {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(16, 200, 16);
  height: 300px;
}

.social-area {
  width: 38%;
  float: left;
}

.social-area img{
 height: 25px;
 padding: 70px 0px 0px 30px;
}

.social-area::after {
  content: 'Join Our Social Media Platform';
  color: #fff;
  position: relative;
  bottom: 8px;
  left: 5px;
  font-size: 20px;
}


.dwn-area {
  width: 38%;
  float: right;
  padding: 65px 0px 0px 30px;
  margin-right: 6%;
}

.dwn-area img {
  height: 50px;
}

#middle {
  position: relative;
  display: inline-block;
  bottom: 18px;
  font-size: 15px;
  right: 10px;
}

#google {
  position: relative;
  left: 4%;
}

.condition p {
  text-align: center;
  width: 100%;
  position: relative;
  top: 42px;
  font-size: 15px;
  display: inline-block;
  padding: 4px 0;
}

.header-area .menu-area ul a {
  text-decoration: none;
}