*{
  margin: 0;
  padding: 0;
}
body{
    background: url(https://t.ly/G3g4-);
}
p {
  color: yellow;
}
h1{
    color: greenyellow;
    text-align: center;
}

#malu {
position: absolute;
top: 100px;
left: 48%;

}